<div class="container">
  <div class="row" style="background-color: #ff6c94;">
    <h2 class="pt-4 pb-4 text-center">About</h2>
    <p class="pt-2 text-center" style="background-color: #f6f0cc;">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br />
      お子様からお年寄りの方までお召し上がりいただけるよう、<br />
      様々なバリエーションをご用意しております。<br />
      全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br />
      ぜひご注文ください。
    </p>
  </div>
</div>